@charset "UTF-8";
body {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
  font-size: 16px;
  color: #404040; }

p {
  margin: 20px 0; }

h1, h2, h3, h4, h5, h6 {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-weight: bold;
  line-height: 1.1; }

a {
  color: #404040; }
  a:hover, a:focus {
    color: #b18db1; }

a img:hover, a img:focus {
  cursor: zoom-in; }

article {
  overflow: hidden; }

blockquote {
  margin: 20px 0 20px;
  font-size: .95em;
  color: gray; }
  blockquote p {
    margin: 0; }

@media screen and (max-width: 768px) {
  select {
    margin-top: 15px;
    padding: 0 .4em;
    color: #337AB7;
    border-color: #337AB7;
    background: white;
    -webkit-appearance: none; } }

::-moz-selection {
  color: white;
  background: #b18db1;
  text-shadow: none; }

::selection {
  color: white;
  background: #b18db1;
  text-shadow: none; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

/*https://github.com/chriskempson/tomorrow-theme*/
/* line-height = 1.6em
font-size = 14px
article-padding = 20px
color-border = #ddd */
.post-container pre, .post-container .highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 15px;
  font-size: 13px;
  color: #4d4d4c;
  background: #f7f7f7;
  line-height: 1.6em; }

.post-container pre code {
  padding: 0;
  color: #4d4d4c;
  background: none;
  text-shadow: none; }

.post-container .highlight pre {
  border: none;
  margin: 0;
  padding: 1px; }

.post-container .highlight table {
  margin: 0;
  width: auto;
  border: none; }

.post-container .highlight td {
  border: none !important;
  padding: 0; }

.post-container .highlight figcaption {
  zoom: 1;
  /*  @if support-for-ie */
  font-size: 1em;
  color: #4d4d4c;
  line-height: 1em;
  margin-bottom: 1em; }
  .post-container .highlight figcaption:before, .post-container .highlight figcaption:after {
    content: "";
    display: table; }
  .post-container .highlight figcaption:after {
    clear: both; }
  .post-container .highlight figcaption a {
    float: right;
    color: #4d4d4c; }
    .post-container .highlight figcaption a:hover {
      border-bottom-color: #4d4d4c; }

.post-container .highlight .gutter pre {
  color: #666;
  text-align: right;
  padding-right: 20px; }

.post-container .highlight .line {
  height: 20px; }

.post-container .gist table {
  width: auto; }
  .post-container .gist table td {
    border: none; }

.post-container pre .comment {
  color: #8e908c; }

.post-container pre .variable,
.post-container pre .attribute,
.post-container pre .tag,
.post-container pre .regexp,
.post-container pre .ruby .constant,
.post-container pre .xml .tag .title,
.post-container pre .xml .pi,
.post-container pre .xml .doctype,
.post-container pre .html .doctype,
.post-container pre .css .id,
.post-container pre .css .class,
.post-container pre .css .pseudo {
  color: #c82829; }

.post-container pre .number,
.post-container pre .preprocessor,
.post-container pre .built_in,
.post-container pre .literal,
.post-container pre .params,
.post-container pre .constant,
.post-container pre .command {
  color: #f5871f; }

.post-container pre .ruby .class .title,
.post-container pre .css .rules .attribute,
.post-container pre .string,
.post-container pre .value,
.post-container pre .inheritance,
.post-container pre .header,
.post-container pre .ruby .symbol,
.post-container pre .xml .cdata,
.post-container pre .special,
.post-container pre .number,
.post-container pre .formula {
  color: #718c00; }

.post-container pre .title,
.post-container pre .css .hexcolor {
  color: #3e999f; }

.post-container pre .function,
.post-container pre .python .decorator,
.post-container pre .python .title,
.post-container pre .ruby .function .title,
.post-container pre .ruby .title .keyword,
.post-container pre .perl .sub,
.post-container pre .javascript .title,
.post-container pre .coffeescript .title {
  color: #4271ae; }

.post-container pre .keyword,
.post-container pre .javascript .function {
  color: #8959a8; }

@media only screen and (max-width: 767px) {
  /**
	 * Layout
	 * Since V1.6 we use absolute positioning to prevent to expand container-fluid
	 * which would cover tags. A absolute positioning make a new layer.
	 */
  .navbar-default .navbar-collapse {
    position: absolute;
    right: 0;
    width: 170px;
    border: none;
    border-radius: 2px;
    background: white;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.239216) 0 1px 4px; }
  /**
	 * Animation
	 * HuxBlog-Navbar using genuine Material Design Animation
	 */
  #huxblog_navbar {
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
    transition: all 200ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    /**
		 * Sharable code and 'out' function
		 */
    opacity: 0;
    /**
		 *'In' Animation
		 */ }
    #huxblog_navbar a {
      font-size: 13px;
      line-height: 28px; }
    #huxblog_navbar .navbar-collapse {
      height: 0;
      -webkit-transition: -webkit-transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
      transition: transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: top right;
      transform-origin: top right; }
    #huxblog_navbar li {
      -webkit-transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      opacity: 0; }
    #huxblog_navbar.in {
      -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      opacity: 1; }
      #huxblog_navbar.in .navbar-collapse {
        -webkit-transition: -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1); }
      #huxblog_navbar.in li {
        -webkit-transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
        transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
        opacity: 1; } }

.navbar-custom {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  background: none; }
  .navbar-custom .navbar-brand {
    height: 56px;
    font-weight: 800;
    line-height: 25px;
    color: white; }
    .navbar-custom .navbar-brand:hover {
      color: rgba(255, 255, 255, 0.8); }
  .navbar-custom .nav li a {
    font-size: 12px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase; }
    .navbar-custom .nav li a:active {
      background: rgba(0, 0, 0, 0.12); }
  @media only screen and (min-width: 768px) {
    .navbar-custom {
      border-bottom: 1px solid transparent;
      background: transparent; }
      .navbar-custom body {
        font-size: 20px; }
      .navbar-custom .navbar-brand {
        padding: 20px;
        line-height: 20px;
        color: white; }
        .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
          color: rgba(255, 255, 255, 0.8); }
      .navbar-custom .nav li a {
        padding: 20px;
        color: white; }
        .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
          color: rgba(255, 255, 255, 0.8); }
        .navbar-custom .nav li a:active {
          background: none; } }
  @media only screen and (min-width: 1170px) {
    .navbar-custom {
      -webkit-transition: background-color .3s;
      -moz-transition: background-color .3s;
      transition: background-color .3s;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .navbar-custom.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -61px;
        -webkit-transition: -webkit-transform .3s;
        -moz-transition: -moz-transform .3s;
        transition: transform .3s;
        border-bottom: 1px solid #f2f2f2;
        background-color: white; }
        .navbar-custom.is-fixed .navbar-brand {
          color: #404040; }
          .navbar-custom.is-fixed .navbar-brand:hover, .navbar-custom.is-fixed .navbar-brand:focus {
            color: #b18db1; }
        .navbar-custom.is-fixed .nav li a {
          color: #404040; }
          .navbar-custom.is-fixed .nav li a:hover, .navbar-custom.is-fixed .nav li a:focus {
            color: #b18db1; }
      .navbar-custom.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0); } }

/* Hux Optimize UserExperience */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: inherit; }

.navbar-default .navbar-toggle:active {
  background-color: rgba(255, 255, 255, 0.25); }

/* Hux customize Style for navBar button */
.navbar-default .navbar-toggle {
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 19px 16px;
  border-color: transparent;
  border-radius: 50%; }
  .navbar-default .navbar-toggle .icon-bar {
    width: 18px;
    border-radius: 0;
    background-color: white; }
  .navbar-default .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px; }

@media (min-width: 1200px) {
  .post-container, .sidebar-container {
    padding-right: 5%; } }

@media (min-width: 768px) {
  .post-container {
    padding-right: 5%; } }

.sidebar-container {
  color: #bfbfbf;
  font-size: 14px; }
  .sidebar-container h5 {
    color: gray;
    padding-bottom: 1em; }
    .sidebar-container h5 a {
      color: gray !important;
      text-decoration: none; }
  .sidebar-container a {
    color: #bfbfbf !important; }
    .sidebar-container a:hover, .sidebar-container a:active {
      color: #b18db1 !important; }
  .sidebar-container .tags a {
    border-color: #bfbfbf; }
    .sidebar-container .tags a:hover, .sidebar-container .tags a:active {
      border-color: #b18db1; }
  .sidebar-container .short-about img {
    width: 80%;
    display: block;
    border-radius: 5px;
    margin-bottom: 20px; }
  .sidebar-container .short-about p {
    margin-top: 0;
    margin-bottom: 20px; }
  .sidebar-container .short-about .list-inline > li {
    padding-left: 0; }

.catalog-container {
  padding: 0; }

.side-catalog {
  display: block;
  overflow: auto;
  height: 100%;
  padding-bottom: 40px;
  width: 195px; }
  .side-catalog.fixed {
    position: fixed;
    top: 20px; }
  .side-catalog.fold .catalog-toggle::before {
    content: "+"; }
  .side-catalog.fold .catalog-body {
    display: none; }
  .side-catalog .catalog-toggle::before {
    content: "−";
    position: relative;
    margin-right: 5px;
    bottom: 1px; }
  .side-catalog .catalog-body {
    position: relative;
    list-style: none;
    height: auto;
    overflow: hidden;
    padding-left: 0;
    padding-right: 5px;
    text-indent: 0; }
    .side-catalog .catalog-body li {
      position: relative;
      list-style: none; }
      .side-catalog .catalog-body li a {
        padding-left: 10px;
        max-width: 180px;
        display: inline-block;
        vertical-align: middle;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-decoration: none;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .side-catalog .catalog-body .h1_nav, .side-catalog .catalog-body .h2_nav, .side-catalog .catalog-body .h3_nav {
      margin-left: 0;
      font-size: 13px;
      font-weight: bold; }
    .side-catalog .catalog-body .h4_nav, .side-catalog .catalog-body .h5_nav, .side-catalog .catalog-body .h6_nav {
      margin-left: 10px;
      font-size: 12px; }
      .side-catalog .catalog-body .h4_nav a, .side-catalog .catalog-body .h5_nav a, .side-catalog .catalog-body .h6_nav a {
        max-width: 170px; }
    .side-catalog .catalog-body .active {
      border-radius: 4px;
      background-color: #F5F5F5; }
      .side-catalog .catalog-body .active a {
        color: #b18db1 !important; }

@media (max-width: 1200px) {
  .side-catalog {
    display: none; } }

/* Hux add tags support */
.tags {
  margin-bottom: -5px; }
  .tags a, .tags .tag {
    display: inline-block;
    margin: 0 1px;
    margin-bottom: 6px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 999em; }
    .tags a:hover, .tags a:active, .tags .tag:hover, .tags .tag:active {
      text-decoration: none;
      color: white;
      border-color: white;
      background-color: rgba(255, 255, 255, 0.4); }
    @media only screen and (min-width: 768px) {
      .tags a, .tags .tag {
        margin-right: 5px; } }

#tag-heading {
  padding: 70px 0 60px; }
  @media only screen and (min-width: 768px) {
    #tag-heading {
      padding: 55px 0; } }

#tag_cloud {
  margin: 20px 0 15px 0; }
  #tag_cloud a, #tag_cloud .tag {
    margin: 0 2px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 28px;
    border: none;
    background: #D6D6D6; }
    #tag_cloud a:hover, #tag_cloud a:active, #tag_cloud .tag:hover, #tag_cloud .tag:active {
      background-color: #b18db1 !important; }
  @media only screen and (min-width: 768px) {
    #tag_cloud {
      margin-bottom: 25px; } }

.tag-comments {
  font-size: 12px; }
  @media only screen and (min-width: 768px) {
    .tag-comments {
      font-size: 14px; } }

.t:first-child {
  margin-top: 0; }

.listing-seperator {
  font-size: 21px !important;
  color: #b18db1; }
  .listing-seperator::before {
    margin-right: 5px; }
  @media only screen and (min-width: 768px) {
    .listing-seperator {
      font-size: 20px !important;
      line-height: 2 !important; } }

.one-tag-list .tag-text {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-weight: 200; }

.one-tag-list .post-preview {
  position: relative; }
  .one-tag-list .post-preview > a:hover, .one-tag-list .post-preview > a:focus {
    text-decoration: none;
    color: #b18db1; }
  .one-tag-list .post-preview > a .post-title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500; }
  .one-tag-list .post-preview > a .post-subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 1.3; }
  .one-tag-list .post-preview > .post-meta {
    position: absolute;
    right: 5px;
    bottom: 0;
    margin: 0;
    font-size: 12px;
    line-height: 12px; }
  @media only screen and (min-width: 768px) {
    .one-tag-list .post-preview {
      margin-left: 20px; }
      .one-tag-list .post-preview > a > .post-title {
        font-size: 18px;
        line-height: 1.3; }
      .one-tag-list .post-preview > a > .post-subtitle {
        font-size: 14px; }
      .one-tag-list .post-preview .post-meta {
        font-size: 18px; } }

/* Tags support End*/
small.img-hint {
  display: block;
  margin-top: -20px;
  text-align: center; }

br + small.img-hint {
  margin-top: -40px; }

img.shadow {
  box-shadow: rgba(0, 0, 0, 0.258824) 0 2px 5px 0; }

.table th, .table td {
  border: 1px solid #EEEEEE !important; }

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white; }

pre, .table-responsive {
  -webkit-overflow-scrolling: touch; }

pre code {
  display: block;
  width: auto;
  white-space: pre;
  word-wrap: normal; }

.postlist-container {
  margin-bottom: 15px; }

.post-container {
  /* Hux make all img responsible in post-container */ }
  .post-container a {
    color: #337AB7; }
    .post-container a:hover, .post-container a:focus {
      color: #b18db1; }
  .post-container h1, .post-container h2, .post-container h3, .post-container h4, .post-container h5, .post-container h6 {
    margin: 30px 0 10px; }
  .post-container h5, .post-container h6 {
    font-size: 16px;
    font-weight: 600;
    color: dimgray; }
    .post-container h5 + p, .post-container h6 + p {
      margin-top: 5px; }
  .post-container ul, .post-container ol {
    margin-bottom: 40px; }
    @media screen and (max-width: 768px) {
      .post-container ul, .post-container ol {
        padding-left: 30px; } }
    @media screen and (max-width: 500px) {
      .post-container ul, .post-container ol {
        padding-left: 20px; } }
  .post-container ol ol,
  .post-container ol ul,
  .post-container ul ol,
  .post-container ul ul {
    margin-bottom: 5px; }
  .post-container li p {
    margin: 0;
    margin-bottom: 5px; }
  .post-container li h1, .post-container li h2, .post-container li h3, .post-container li h4, .post-container li h5, .post-container li h6 {
    margin-top: 20px;
    line-height: 2; }
  .post-container .pager li {
    width: 48%; }
    .post-container .pager li.next {
      float: right; }
    .post-container .pager li.previous {
      float: left; }
    .post-container .pager li > a {
      width: 100%; }
      .post-container .pager li > a > span {
        font-weight: normal;
        letter-spacing: .5px;
        color: gray; }
  .post-container p img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1.5em auto 1.6em auto; }

.intro-header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
  margin-bottom: 0;
  /* 0 on mobile, modify by Hux */
  background-color: gray;
  background-attachment: scroll; }
  @media only screen and (min-width: 768px) {
    .intro-header {
      margin-bottom: 20px;
      /* response on desktop */ } }
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 60px 0 50px;
    color: white; }
  .intro-header .site-heading {
    padding: 95px 0 70px; }
    @media only screen and (min-width: 768px) {
      .intro-header .site-heading {
        padding: 150px 0; } }
  .intro-header .site-heading,
  .intro-header .page-heading {
    text-align: center; }
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
      margin-top: 0;
      font-size: 50px; }
    .intro-header .site-heading .subheading,
    .intro-header .page-heading .subheading {
      /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
      font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
      line-height: 1.7;
      display: block;
      margin: 10px 0 0;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.1; }
    @media only screen and (min-width: 768px) {
      .intro-header .site-heading h1,
      .intro-header .page-heading h1 {
        font-size: 80px; } }
  .intro-header .post-heading h1 {
    margin-bottom: 24px;
    font-size: 30px; }
  .intro-header .post-heading .subheading,
  .intro-header .post-heading .meta {
    display: block;
    line-height: 1.1; }
  .intro-header .post-heading .subheading {
    /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    margin: 10px 0 30px;
    margin-top: -5px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4; }
  .intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 300;
    font-style: italic; }
    .intro-header .post-heading .meta a {
      color: white; }
  @media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
      font-size: 55px; }
    .intro-header .post-heading .subheading {
      font-size: 30px; }
    .intro-header .post-heading .meta {
      font-size: 20px; } }
  .intro-header .canvas-heading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }

.home-container {
  padding: 0; }
  .home-container .bg-music {
    padding-left: 6px; }
  .home-container .post-list {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-flow: row wrap; }
    .home-container .post-list li {
      display: flex;
      padding: 6px;
      list-style-type: none; }
    @media only screen and (min-width: 590px) {
      .home-container .post-list {
        justify-content: flex-start; } }
  .home-container .post-preview {
    width: 280px;
    padding: 0 20px 10px;
    border: 3px solid #F2F2F2; }
    .home-container .post-preview > a {
      display: inline-block;
      margin: 10px 0;
      padding: 7px 14px;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      color: #404040;
      border: 2px solid #404040; }
      .home-container .post-preview > a:hover {
        color: #FFFFFF;
        background-color: #404040; }
      .home-container .post-preview > a > .post-title {
        margin-top: 30px;
        margin-bottom: 8px;
        font-size: 21px;
        line-height: 1.3; }
      .home-container .post-preview > a > .post-subtitle {
        margin: 0;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.3; }
    @media only screen and (min-width: 768px) {
      .home-container .post-preview > a > .post-title {
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 1.3; }
      .home-container .post-preview > a > .post-subtitle {
        font-size: 16px; } }

.post-content-preview {
  font-size: 14px;
  color: #A3A3A3; }

.section-heading {
  margin-top: 60px;
  font-size: 36px;
  font-weight: 700; }

.caption {
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

footer {
  padding: 50px 0 65px;
  font-size: 20px; }
  footer .list-inline {
    margin: 0;
    padding: 0; }
  footer .copyright {
    margin-bottom: 0;
    font-size: 14px;
    text-align: center; }
    footer .copyright a {
      color: #337AB7; }
      footer .copyright a:hover, footer .copyright a:focus {
        color: #b18db1; }

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  font-size: 14px;
  border-bottom: 1px solid #eee; }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    font-size: 1.5em;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important; }
  .floating-label-form-group label {
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0; }
  .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: #b18db1; }

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee; }

.btn {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  padding: 15px 25px;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0; }

.btn-lg {
  padding: 25px 35px;
  font-size: 16px; }

.btn-default:hover, .btn-default:focus {
  color: white;
  border: 1px solid #b18db1;
  background-color: #b18db1; }

.pager {
  margin: 20px 0 0;
  padding: 0 6px; }
  .pager li > a, .pager li > span {
    /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    padding: 10px;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    background-color: white; }
    @media only screen and (min-width: 768px) {
      .pager li > a, .pager li > span {
        padding: 15px 25px;
        font-size: 14px; } }
  .pager li > a {
    color: #404040; }
  .pager li > a:hover, .pager li > a:focus {
    color: white;
    border: 1px solid #b18db1;
    background-color: #b18db1; }
    .pager li > a:hover > span, .pager li > a:focus > span {
      color: white; }
  .pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    cursor: not-allowed;
    color: gray;
    background-color: #404040; }

/* Hux customize Style for Duoshuo */
.comment {
  margin-top: 20px; }
  .comment #ds-thread #ds-reset a.ds-like-thread-button {
    border: 1px solid #DDDDDD;
    border-radius: 0;
    background: white;
    box-shadow: none;
    text-shadow: none; }
  .comment #ds-thread #ds-reset li.ds-tab a.ds-current {
    border: 1px solid #DDDDDD;
    border-radius: 0;
    background: white;
    box-shadow: none;
    text-shadow: none; }
  .comment #ds-thread #ds-reset .ds-textarea-wrapper {
    background: none; }
  .comment #ds-thread #ds-reset .ds-gradient-bg {
    background: none; }
  .comment #ds-thread #ds-reset .ds-post-options {
    border-bottom: 1px solid #CCCCCC; }
  .comment #ds-thread #ds-reset .ds-post-button {
    border-bottom: 1px solid #CCCCCC; }
  .comment #ds-thread #ds-reset .ds-post-button {
    background: white;
    box-shadow: none; }
    .comment #ds-thread #ds-reset .ds-post-button:hover {
      background: #eee; }

#ds-smilies-tooltip ul.ds-smilies-tabs li a {
  background: white !important; }

.page-fullscreen .intro-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.page-fullscreen #tag-heading {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 150px; }

.page-fullscreen footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  opacity: .6;
  color: #FFFFFF; }

.page-fullscreen footer .copyright {
  color: #FFFFFF; }

.page-fullscreen footer .copyright a {
  color: #FFFFFF; }

.page-fullscreen footer .copyright a:hover {
  color: #DDDDDD; }
