// Override spoiler styles
.spoiler {
  padding: 0 !important;

  & > .spoiler-title {
    margin: 0 !important;

    &::before {
      content: "" !important;
    }

    &::after {
      float: right;
      font-size: 18px;
      line-height: 20px;
      content: "▸";
      -webkit-transition: all .36s ease;
              transition: all .36s ease;
    }
  }

  &.expanded > .spoiler-title::after {
    transform: rotate(90deg);
  }

  & > .spoiler-content {
    -webkit-transition: all .2s ease !important;
            transition: all .2s ease !important;

    & > .highlight {
      margin: 0;
    }
  }
}

// Override spoiler styles End

// Override style in bootstrap
.table th, .table td {
  border: 1px solid #EEEEEE !important;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

// add by Hux
pre, .table-responsive {
  // sometimes you should use vendor-feature.
  -webkit-overflow-scrolling: touch;
}

pre code {
  display: block;
  width: auto;
  white-space: pre; // save it but no-wrap;
  word-wrap: normal; // no-wrap
}

// Override style in bootstrap End

// Utils Style Class can be used in Markdown.
small.img-hint {
  display: block;
  margin-top: -20px;
  text-align: center;
}

br + small.img-hint {
  margin-top: -40px;
}

img.shadow {
  box-shadow: rgba(0, 0, 0, .258824) 0 2px 5px 0;
}

// Utils Style End
