.toc {
  position: absolute;
  top: 0;
  right: -$toc-width;
  width: $toc-width;
  &::before {
    padding-left: 4px;
    line-height: 18px;
    content: "目录";
    border-left: 3px solid $theme-primary;
  }
  ul, li {
    font-size: 14px;
    list-style: none;
  }
  ul {
    padding-left: 8px;
  }
}

// Small Screen
@media (max-width: $screen-width-xl) {
  .toc {
    display: none;
  }
}
