<!-- Page Header -->
<header class="container">
    <div class="site-heading">
        <h1><%= page.title || config.title %></h1>
        <span class="subheading"><%= page.description || config.subtitle || "" %></span>
    </div>
</header>
