// Variables

$theme-primary: #b18db1;

$gray-dark: lighten(black, 25%);

$gray: lighten(black, 50%);

$gray-l: lighten(black, 75%);

$gray-light: #eee;

$blue-link: #337AB7;

$toc-width: 200px;

// size
$nav-height: 50px;
